{% extends 'base.html.twig' %}

{% block title %}
kikoo tout le monde
{% endblock %}

{% block header %}
    <h2>Voici le header</h2>
{% endblock %}

{% block body %}
<div class="container mt-3">
<div class="jumbotron">
  <h1 class="display-4">Welcome to movarteum</h1>
  <p class="lead">
movarteum is an art platform where users can buy and sell artworks</p>
  <hr class="my-4">
  <p>You're an art aficionado? You would like to adquire a drawing, painting, illustrations.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ path('artworks') }}" role="button">See artworks</a>
  </p>
</div>

    <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card bg-light.mb-3">
            <div class="card-header.text-center">
                3 chambres, <strong>59&euro; / nuit</strong> 
            <small>Pas encore noté</small>
            </div>

            <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
            style="heigh: 200px; width: 100%; display: block">

            <div class="card-body">
                <h4 class="card-title">
                    Superbe appartement!
                    </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut id voluptatem iusto doloremque placeat repudiandae. Sequi ipsa incidunt omnis nam beatae culpa, facere nostrum esse? Quos, ipsum eligendi! Ex, vitae.
                </p>
                <a href="" class="btn btn-secondary">En savoir plus!</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card bg-light.mb-3">
            <div class="card-header.text-center">
                3 chambres, <strong>59&euro; / nuit</strong> 
            <small>Pas encore noté</small>
            </div>

            <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
            style="heigh: 200px; width: 100%; display: block">

            <div class="card-body">
                <h4 class="card-title">
                    Superbe appartement!
                    </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut id voluptatem iusto doloremque placeat repudiandae. Sequi ipsa incidunt omnis nam beatae culpa, facere nostrum esse? Quos, ipsum eligendi! Ex, vitae.
                </p>
                <a href="" class="btn btn-secondary">En savoir plus!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light.mb-3">
            <div class="card-header.text-center">
                3 chambres, <strong>59&euro; / nuit</strong> 
            <small>Pas encore noté</small>
            </div>

            <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
            style="heigh: 200px; width: 100%; display: block">

            <div class="card-body">
                <h4 class="card-title">
                    Superbe appartement!
                    </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut id voluptatem iusto doloremque placeat repudiandae. Sequi ipsa incidunt omnis nam beatae culpa, facere nostrum esse? Quos, ipsum eligendi! Ex, vitae.
                </p>
                <a href="" class="btn btn-secondary">En savoir plus!</a>
            </div>
        </div>
    </div>
</div>


    <h2 class="h1 mt-3 mb-4"> Nos propriétaires stars!</h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Saratomo Saratomi</h4>
                <hr>

                <div class="card-text">
                    <img src="http://placehold.it/64x64" alt="Avatar de Saratomo Saratomi" class="float-left mr-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, enim.</p>
                <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                </div>
             </div>
        </div>
    </div>
    
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Saratomo Saratomi</h4>
                <hr>

                <div class="card-text">
                    <img src="http://placehold.it/64x64" alt="Avatar de Saratomo Saratomi" class="float-left mr-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, enim.</p>
                <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                </div>
             </div>
        </div>
    </div>
</div>

{% endblock %}